<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - ExchangeTU</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="website" />

    <link rel="icon" href="images/favicon.png" type="image/png" sizes="18x12" />

    <script>
      addEventListener(
        "load",
        function () {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!--//tags -->
    <link
      href="css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!--pop-up-box-->
    <link
      href="css/popuo-box.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui1.css" />
    <!-- fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/navbar.ejs') %>

    <!-- Modal1 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body modal-body-sub_agile">
            <div class="main-mailposi">
              <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </div>
            <div class="modal_body_left modal_body_left1">
              <h3 class="agileinfo_sign">Sign In</h3>
              <p>
                Sign In now to view the products. Don't have an account?
                <a href="#" data-toggle="modal" data-target="#myModal2">
                  Sign Up Now</a
                >
              </p>
              <form action="#" method="post">
                <div class="styled-input agile-styled-input-top">
                  <input
                    type="text"
                    placeholder="User Name"
                    name="Name"
                    required=""
                  />
                </div>
                <div class="styled-input">
                  <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    required=""
                  />
                </div>
                <input type="submit" value="Sign In" />
              </form>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- //Modal content-->
      </div>
    </div>
    <!-- //Modal1 -->
    <!-- //signin Model -->
    <!-- signup Model -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body modal-body-sub_agile">
            <div class="main-mailposi">
              <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </div>
            <div class="modal_body_left modal_body_left1">
              <h3 class="agileinfo_sign">Sign Up</h3>

              <form action="#" method="post">
                <div class="styled-input agile-styled-input-top">
                  <input
                    type="text"
                    placeholder="Name"
                    name="Name"
                    required=""
                  />
                </div>
                <div class="styled-input">
                  <input
                    type="email"
                    placeholder="E-mail"
                    name="Email"
                    required=""
                  />
                </div>
                <div class="styled-input">
                  <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    id="password1"
                    required=""
                  />
                </div>
                <div class="styled-input">
                  <input
                    type="password"
                    placeholder="Confirm Password"
                    name="Confirm Password"
                    id="password2"
                    required=""
                  />
                </div>
                <input type="submit" value="Sign Up" />
              </form>
              <p>
                <a href="#">By clicking register, I agree to your terms</a>
              </p>
            </div>
          </div>
        </div>
        <!-- //Modal content-->
      </div>
    </div>
    <!-- //Modal2 -->
    <div class="contact-w3l">
      <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
          Sign In
          <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
          </span>
        </h3>
        <!-- //tittle heading -->
        <!-- contact -->
        <div class="contact agileits">
          <div class="contact-agileinfo">
            <div class="contact-form wthree">
              <form id="loginForm" method="POST">
                <div class="">
                  <label for="email">Email Id</label>
                  <input
                    type="text"
                    id="email"
                    name="email"
                    placeholder="Email Address"
                    required=""
                  />
                </div>
                <div class="">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required=""
                  />
                </div>
                <input type="submit" value="Submit" /><br /><br />
                <h7>
                  Don't have an account ?
                  <a href="/signup"><strong>Sign Up</strong></a> !
                </h7>
              </form>
            </div>
            <div class="contact-right wthree">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <!-- //contact -->
      </div>
    </div>
    <!-- js-files -->
    <!-- jquery -->
    <script src="js/login.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- //jquery -->

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    ></script>

    <!-- popup modal (for signin & signup)-->
    <script src="js/jquery.magnific-popup.js"></script>
    <script>
      $(document).ready(function () {
        $(".popup-with-zoom-anim").magnificPopup({
          type: "inline",
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: "auto",
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: "my-mfp-zoom-in",
        });
      });
    </script>
    <!-- Large modal -->
    <!-- <script>
		$('#').modal('show');
	</script> -->
    <!-- //popup modal (for signin & signup)-->

    <!-- price range (top products) -->
    <script src="js/jquery-ui.js"></script>
    <script>
      //<![CDATA[
      $(window).load(function () {
        $("#slider-range").slider({
          range: true,
          min: 0,
          max: 9000,
          values: [50, 6000],
          slide: function (event, ui) {
            $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
          },
        });
        $("#amount").val(
          "$" +
            $("#slider-range").slider("values", 0) +
            " - $" +
            $("#slider-range").slider("values", 1)
        );
      }); //]]>
    </script>
    <!-- //price range (top products) -->

    <!-- flexisel (for special offers) -->
    <script src="js/jquery.flexisel.js"></script>
    <script>
      $(window).load(function () {
        $("#flexiselDemo1").flexisel({
          visibleItems: 3,
          animationSpeed: 1000,
          autoPlay: true,
          autoPlaySpeed: 3000,
          pauseOnHover: true,
          enableResponsiveBreakpoints: true,
          responsiveBreakpoints: {
            portrait: {
              changePoint: 480,
              visibleItems: 1,
            },
            landscape: {
              changePoint: 640,
              visibleItems: 2,
            },
            tablet: {
              changePoint: 768,
              visibleItems: 2,
            },
          },
        });
      });
    </script>
    <!-- //flexisel (for special offers) -->

    <!-- password-script -->
    <script>
      window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
      };

      function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
          document
            .getElementById("password2")
            .setCustomValidity("Passwords Don't Match");
        else document.getElementById("password2").setCustomValidity("");
        //empty string means no validation error
      }
    </script>
    <!-- //password-script -->

    <!-- smoothscroll -->
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->

    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
      jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
          event.preventDefault();

          $("html,body").animate(
            {
              scrollTop: $(this.hash).offset().top,
            },
            1000
          );
        });
      });
    </script>
    <!-- //end-smooth-scrolling -->

    <!-- smooth-scrolling-of-move-up -->
    <script>
      $(document).ready(function () {
        /*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
        $().UItoTop({
          easingType: "easeOutQuart",
        });
      });
    </script>
    <!-- //smooth-scrolling-of-move-up -->

    <!-- for bootstrap working -->
    <script src="js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
  </body>
</html>
