<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/newDeal.css" rel="stylesheet" type="text/css" media="all" />
    <title>Document</title>
  </head>
  <body>
    <h3>Product Detail</h3>
    <div class="container">
      <form action=" ">
        <label for="pname">Product Name</label>
        <input
          type="text"
          id="pname"
          name="product name"
          placeholder="Product name.."
        />
        <label for="hname">Hostel Name</label>
        <input
          type="text"
          id="hname"
          name="hostel name"
          placeholder="Your hostel.."
        />
        <label for="category">Product Category</label>
        <select id="category" name="category">
          <option value="Labcoat">Labcoat</option>
          <option value="Cycle">Cycle</option>
          <option value="Cycle">Mattress</option>
          <option value="Cycle">Books</option>
          <option value="Cycle">Drafter</option>
        </select>
        <label for="duration">Duration of use </label>
        <input
          type="text"
          id="duration"
          name="use duration"
          placeholder="Duration.."
        />
        <label for="description">Product Description</label>
        <textarea
          id="description"
          name="description"
          placeholder="ABout Product.."
          style="height: 200px"
        ></textarea>
        <span>
          <label for="price">MRP (Rs.)</label>
          <input type="number" id="price" name="MRP" placeholder="Enter MRP" />
          <label for="price">Selling Price (Rs.)</label>
          <input
            type="number"
            id="sprice"
            name="selling price"
            placeholder="Enter price"
          /><br />
        </span>
        <br />
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*" /><br /><br />
        <div class="flex-parent jc-center">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>

    <script src="/js/newDeal.js"></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    ></script>
  </body>
</html>
