<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /> 
    <link rel="icon" href="images/favicon.png" type="image/png" sizes="18x12">

    <title>Add Product</title>
  </head>
  <body>
    <h3>Product Detail</h3>
    <div class="container">
      <form action=" ">
        <label for="pname">Product Name</label>
        <input type="text" id="pname" name="product name" placeholder="Product name">

        <label for="hname">Hostel Name</label>
        <input type="text" id="hname" name="hostel name" placeholder="Your hostel">

        <label for="category">Product Category</label>
          <select id="category" name="category">
            <option value="Labcoat">Labcoat</option>
            <option value="Cycle">Cycle</option>
            <option value="Drafters">Drafter</option>
            <option value="Others">Others</option>
          </select>      

          <label for="description">Product Description</label>
          <textarea id="description" name="description" placeholder="About Product.." style="height:200px"></textarea>
          
          <label for="img">Select image:</label>
          <input type="file" id="img" name="img" accept="image/*"><br>

          <input type="submit" value="Submit">
        </form>
  </body>
</html>
