<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/newDeal.css" rel="stylesheet" type="text/css" media="all" />
    <title>Document</title>
  </head>
  <body>
    <h3>Product Detail</h3>
    <div class="container">
      <form action=" ">
        <label for="pname">Product Name</label>
        <input
          type="text"
          id="pname"
          name="product name"
          placeholder="Product name.."
        />
        <label for="hname">Hostel Name</label>
        <input
          type="text"
          id="hname"
          name="hostel name"
          placeholder="Your hostel.."
        />
        <label for="category">Product Category</label>
        <select id="category" name="category">
          <option value="Labcoat">Labcoat</option>
          <option value="Cycle">Cycle</option>
        </select>
        <label for="duration">Duration of use </label>
        <input
          type="text"
          id="duration"
          name="use duration"
          placeholder="Duration.."
        />
        <label for="description">Product Description</label>
        <textarea
          id="description"
          name="description"
          placeholder="ABout Product.."
          style="height: 200px"
        ></textarea>
        <input type="submit" value="Submit" />
      </form>
    </div>
    <!-- <form>
         
      
      <br>
     
      
      <label for="img">Select image:</label>
      <input type="file" id="img" name="img" accept="image/*"><br>
    
      <label for="product">Type of Product:</label>
      <select name="product" id="product">
      <option value="labcoat">labcoat</option>
      <option value="sa">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
      </select><br>
     
      <input type="submit" value="Submit">
    </form> -->
  </body>
</html>
