.pi1{
    background-image: url(../img/pi1.jpeg);
}
.pi2{
    background-image: url(../img/pi2.jpeg);
}.pi3{
    background-image: url(../img/pi3.jpeg);
}.pi4{
    background-image: url(../img/pi4.jpeg);
}.pi5{
    background-image: url(../img/about3.jpeg);
    background-size: cover;
    background-position: center;
}.pi6{
    background-image: url(../img/pi6.jpeg);
}