
.ze1{
    background-image: url(../img/pg2.jpeg);
    }
    
.ze2{
background-image: url(../img/pg1.jpeg);
}
.ze3{

    background-image: url(../img/pg3.jpeg);
}
.ze4{

    background-image: url(../img/pg4.jpeg);
}
.ze5{

    background-image: url(../img/OR1.jpg);
}
.ze6{

    background-image: url(../img/CO2.jpg);
}
.pic_18{
    background-image: url(../img/pattern1.jpg);
    margin: -2rem;
}